 <div class="parent-container-btn">
  <div class="container-btn mb-md ">
    <%= link_to "Create new question", new_question_path, class: "text-add-question" %>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="mt-md container-question">
    <%= render question %>
  </div>
<% end %>
