<div class="container-main">

  <h2>Question</h2>

  <p><%= @question.body %></p>
  <p>user_id: <b><%= @question.user_id %></b></p>



  <!--<div class="icon-a-text">
    <p>

  </div>-->

<%= render @question%>

</div>
