.button {
    color: #2E2F30;
    display: inline-block;
    padding: 8px 13px 7px;
    border-radius: 3px;
    font-size: 14px;

}

.button-main{
    background-color: #9D0208;

}

.btn-danger{
    background: linear-gradient(180deg, #f66151 0%, #a51d2d 100%);
}

.button-confirm:hover{
    background: linear-gradient(225deg, #9141ac 0%, #613583 100%)

}
.button-confirm{
    background: linear-gradient(225deg, #bfabfa 0%, #b698c3 100%);
    border-radius: 40px;
    width: 150px;
    height: 45px;
    margin: auto; 
    justify-content: center;
    align-items: center;
    font-size: 27;
    font-family: 'Arvo', sans-serif;
    border: none;
    font-weight: 600;

}

