.form-textarea, .form-textfield {
    border: 3px solid    #bb84c7 ;
    background-color: rgba( 68, 202, 244, 0.3);
    border-radius: 5px;
    

}

.form-textarea:focus, .form-textfield:focus {

    background-color: rgba( 68, 202, 244, 0.6);
    outline-width: 0;
    border: none;

}

.form-textarea{
    box-sizing: border-box;
    width: 100%;
}


