.form-textfield {
    border: 3px solid    #bb84c7 ;
    background-color: rgba( 68, 202, 244, 0.3);
    border-radius: 5px;
    

}

.form-textfield:focus {

    background-color: rgba( 68, 202, 244, 0.6);
    outline-width: 0;
    border: none;

}

.form-textarea{
    box-sizing: border-box;
    width: 100%;
    font-family: 'Arvo', sans-serif;
    font-weight: 600;
    border-color: #f6832f;
    background-color: rgba( 240, 139, 226, 0.3);
}

.form-textarea:focus{
    outline: none;
    outline-width: 0;
}


