body{
    /*
    background-color:  #03071E;
    */
    background: linear-gradient(90deg, #0a2a50 0%, #072549 100%);

    display: flex;
    justify-content: center;
}
.wrapper-main{
    max-width: 800px;
    margin: 40px;
    width: 100%;
}

.container-main{
    background-color:   #eef5c5 ;
    padding: 20px;
}

.container-nav{
    background: linear-gradient(315deg, #ed5d0d 0%, #f9f06b 100%);
    font-family: 'Arvo', sans-serif;
    font-weight: 900;
    font-size: 19px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.container-nav:hover{
    background: #beb006;
}
.container-question{
    background: linear-gradient(315deg, #eef5c5 0%, #fff455 100%);
    border-radius: 30px;
    font-family: 'Arvo', sans-serif;
    height: 90px;
    padding: 10px;
}
.navbar-main{
    /*
    background-color: #b26ce5;
    */
    border-radius: 20px;
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 25px;
    /* height: 25px; */
    background: radial-gradient(circle at right,  #48027b  ,  #a63af5 );
    /* align-items: center; */
    /* padding: 15px; */
}
.container-btn{
    border-radius: 50px;
  background: linear-gradient(270deg, #089114 0%, #093f08 100%);
  width: 300px;
  height: 60px;
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.parent-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
