.question_footer {
    border-top: 1px solid #666666;
    padding-top: 10px;
    
    color: #8e7763;
}

.container-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
  }


  