body{
    color: #03071E;
    font-family: "Trebuchet MS", sans-serif;
}

.text-add-question{
    text-decoration: none;
    font-family: 'Arvo', sans-serif;
    font-weight: 850;
    font-size: 21px;
    color: #ffffff;
  }

.button_del {
    color: #db2e03

}

.a-text{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 7px;
}


.icon-a-text p {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed for spacing between buttons */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 40px;
}

.button_del {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 24px;
    background: none;
    border:  #a64cef;
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
    margin-right: 10px;
    margin-top: -20px;  
}



.title-lg {
    font-size: 175%;
}
.title{
    font-size: 150%;
}

.title-sm {
    font-size: 125%;
}

.text-sm {
    font-size: 80%;
}
.username{
    color:  #000000;
    font-family: 'Arvo', sans-serif;
    font-weight: 900;
    font-size: 19px;
    text-align: center;
}

.navbar-main a{
    color:  #000000;
    font-weight: 900;
    font-size: 27px;
    text-decoration: none;

}


.button_to{
    display: inline-block;
}

.text-red{
    color: #B00100;
}

.username a {
    font-size: inherit; 
  }

